:root {
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --text-color: #333;
    --bg-color: #f2f2f2;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: var(--primary-color);
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h1, h2 {
    color: var(--primary-color);
    margin-bottom: 20px; 
}

p 
    {
        margin-bottom: 20px; 
}

.color-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.color-panel {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.color-panel:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cool-blue { background-color: #2d5dcc; color: #fff; }
.pink { background-color: #d957d9; color: #fff; }
.mint-green { background-color: #4fe0b0; color: #fff; }
.beige { background-color: #efd9ca; color: #333; }

footer {
    background: var(--primary-color);
    color: #fff;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--secondary-color);
}

.contacts {
    margin-top: 40px; 
}

.contact-section {
    background-color: #fff; 
    color: var(--primary-color); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    margin-bottom: 15px;
}

.contact-section p a {
    color: rgb(8, 134, 218); 
    text-decoration: none;
}

.contact-section p a:hover {
    text-decoration: underline;
}
